/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для заголовка */
header {
    background: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    color: white; /* Белый цвет для заголовка */
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Основные стили для контента */
main {
    padding: 1em;
    background-color: white;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Стили для разделов */
section {
    margin-bottom: 2em;
    padding: 1em;
    border-left: 4px solid #4CAF50;
    background-color: #e0f7fa;
}

h1, h2 {
    color: green;
}

p {
    color: #333;
}

/* Стили для кнопок сортировки */
.sort-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

.sort-button:hover {
    background-color: #45a049;
}

/* Стили для подвала */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
